* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.block-hero {
  background-image: url("./assets/images/hero-bg.jpg");
  background-size: cover;
  height: 600px;
  border: 1px 1px 1x 1px;
  border: 1px solid #343A40
 }

 .block-hero-btn {
  width: 85px;
  height: 22px;
  margin-top: 278px;
  margin-left: 70px;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  gap: 10px;
  background-color: #FFFFFF26;
  font: roboto;
  font-weight: 700;
  font-size: 10px;
  color: #FFFFFF;
  line-height: 11.72px;
  text-align: center;
  border: none;
 }

 h1 {
  width: 530px;
  height: 92px;
  margin-top: 15px;
  margin-left: 70px;
  font: lora;
  font-weight: 700;
  font-size: 36px;
  line-height: 46.08px;
  color: #FFFFFF;
 }

 .block-hero-date {
  width: 59px;
  height: 15px;
  margin-top: 2px;
  margin-left: 70px;
  font: lora;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #E5E5E5;
 }

 .block-hero-line {
  width: 30px;
  max-height: 2px;
  margin-left: 11px;
  margin-top: 3px;
  color: #E5E5E5;
  border: 1px solid #E5E5E5
 }

 .block-hero-content {
  width: 420px;
  height: 40px;
  margin-left: 10px;
  margin-top: 22px;
  font: lora;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
 }

 .block-hero-content-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

 .block-hero-circle {
  width: 44px;
  height: 8px;
  margin-left: 70px;
  margin-top: 62px;
  }

  h2 {
    width: 249px;
    height: 46px;
    /* margin-top: 150px;
    margin-left: 70px; */
    font: lora;
    font-weight: 700;
    font-size: 36px;
    line-height: 46.08px;
    color: #495057;
  }

.block-popular-container {
  max-width: 1300px;
  max-height: 1081px;
  margin-top: 150px;
  margin-left: 70px;
}

.block-popular__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  
}

.left-nav {
  display: flex;
  gap: 1rem;
  margin-top: 0px;
  justify-content: flex-start;
  list-style: none;
  color: #495057;
}

.right-nav {
  margin-left: 850px;
  margin-top: 30px;
}

.Popular-card-section {
  width: 1300px;
  height: 950px;
  margin-top: 30px;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Popular-card {
  width: 310px;
  height: 450px;
}

.Popular-card-date {
  width: 59px;
  height: 15px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #6C757D;
}

.Popular-card-header {
  width: 273px;
  height: 50px;
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
}

.Popular-card-description {
  width: 310px;
  height: 60px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6C757D;
}
  
a {
  text-decoration: none;
}

.fashion-container {
  background-image: url("./assets/images/fashion-bg.jpg");
  background-size: cover;  
  height: 600px;
  margin-top: 149px;
}

 .fashion-btn {
  width: 62px;
  height: 22px;
  margin-top: 178px;
  margin-left: 689px;
  padding: 5px 10px 5px 10px;
  gap: 10px;
  background-color: #FFFFFF26;
  font-size: 10px;
  font-weight: 700;
  line-height: 11.72px;
  text-align: center;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;

}

.fasion-header {
  width: 530px;
  height: 92px;
  margin-top: 24px;
  margin-left: 455px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46.08px;
  text-align: center;
  color: #FFFFFF;
}

.fashion-content {
  width: 420px;
  height: 40px;
  margin-top: 13px;
  margin-left: 510px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #E5E5E5;
}

.fashion-line {
  width: 30px;
  margin-top: 24px;
  margin-left: 705px;
  border: 1px solid #E5E5E5
}

.fashion-date {
  width: 59px;
  height: 15px;
  margin-top: 15px;
  margin-left: 692px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #E5E5E5;
}

.Editor-Pick-container {
  width: 1300px;
  height: 466px;
  margin-top: 149px;
  /* margin-left: 70px; */
}

.editor-pick-header {
  width: 217px;
  height: 46px;
  margin-left: 70px;
  font-size: 36px;
  line-height: 46.08px;
  color: #495057;
}

.editor-pick-card-section {
  margin-top: 70px;
  margin-left: 70px;
  display: flex;
  gap: 1em;
  
}
.editor-pick-card-1 {
  background-image: url("./assets/images/editor-blog-bg-1.jpg");
  width: 420px;
  height: 350px;
}

.editor-pick-card-2 {
  background-image: url("./assets/images/editor-blog-bg-2.jpg");
  width: 420px;
  height: 350px;
}

.editor-pick-card-3 {
  background-image: url("./assets/images/editor-blog-bg-3.jpg");
  width: 420px;
  height: 350px;
}

.editor-pick-date {
  width: 59px;
  height: 15px;
  padding-top: 153px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #E5E5E5;
}

.editor-pick-card-header {
  width: 270px;
  height: 50px;
  padding-top: 15px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.editor-pick-card-description {
  width: 340px;
  height: 60px;
  padding-top: 15px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
}

.site-footer {
  margin-top: 149px;
}

.footer-top-section {
  width: auto;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #212529;
}

.footer-contact-pulisher {
  width: 188px;
  height: 89px;
  margin-top: 106px;
  margin-left: 70px;
  list-style: none;

}

.footer-Explorate {
  width: 115px;
  height: 188px;
  margin-top: 106px;
  margin-left: 142px;
  list-style: none;
}

.footer-headquarter {
  width: 114px;
  height: 100px;
  margin-top: 106px;
  margin-left: 229px;
  list-style: none;
}


.footer-connection {
  width: 172px;
  height: 60px;
  margin-top: 106px;
  margin-left: 216px;
  list-style: none;
}

.footer-contact-pulisher-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
}

.Publisher-ul {
  padding-left: 0px;
  list-style: none;
}

#email {
  padding-top: 16px;
  font: lora;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #E5E5E5;
}

#contact-number {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

.footer-Explorate-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
}

.footer-Explorate-ul {
  padding-left: 0px;
  list-style: none;
}

#about {
  padding-top: 16px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

#Partners {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

#job-opportunities {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

#Advertise {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

#Membership {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

.footer-headquaters-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
}

#footer-headquarter-place {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

.footer-connection-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
}

.footer-social-media-logos {
  width: 172px;
  height: 20px;
  padding-top: 15px;
}

/* .footer-social-media-logos {
  gap: 18px;
} */

.footer-lower-section {
  width: cover;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #343A40;
}

.copyright {
  width: 198px;
  height: 18px;
  margin-top: 31px;
  margin-left: 70px;
  font: lora;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.92px;
  color: #E5E5E5;
}

.Subscribe {
  width: 98px;
  height: 18px;
  margin-top: 31px;
  margin-left: 1004px;
  font: lora;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.92px;
  text-align: right;
  color: #E5E5E5;
}