* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

h2 {
  color: #495057;
}
a {
  text-decoration: none;
  color: #495057;
}

.container {
  max-width: 1336px;
  margin-inline: auto;
}

.block-popular {
  padding: 5rem 0;
  margin-inline: 2rem;
}
.block-popular__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  /* margin-inline: 2rem; */
  
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  list-style-type: none;
  margin-top: 30px;
  margin-left: 70px;
}

.block-popular__right-nav {
  flex: right;
  width: 70px;
  height: 25px;
  margin-top: 30px;
  margin-left: 850px;
}

.Popular-card-section {
  width: 1300px;
  height: 950px;
  margin-top: 30px;
  margin-left: 70px;
}
.Popular-card {
  width: 310px;
  height: 450px;
  margin-top: 30px;
  /* padding-right: 4px; */
  /* display: flex; */
  float: left;
}

.Popular-card-1 {
  width: 310px;
  height: 450px;
  margin-top: 30px;
  margin-left: 20px;
  /* padding-right: 4px; */
  /* display: flex; */
  float: left;
}

.Popular-card-date {
  width: 59px;
  height: 15px;
  margin-top: 15px;
  font: lora;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #6C757D;
}

.Popular-card-header {
  width: 273px;
  height: 50px;
  margin-top: 15px;
  font: lora;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
}

.Popular-card-description {
  width: 310px;
  height: 60px;
  margin-top: 15px;
  font: lora;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6C757D;
}

.block-hero {
  background-image: url("./assets/images/hero-bg.jpg");
  background-size: cover;
  height: 600px;
  border: 1px 1px 1x 1px;
  border: 1px solid #343A40
 }

 .block-hero-btn {
  width: 77px;
  height: 22px;
  margin-top: 278px;
  margin-left: 70px;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  gap: 10px;
  background-color: #FFFFFF26;
  font: roboto;
  font-weight: 700;
  font-size: 10px;
  color: #FFFFFF;
  line-height: 11.72px;
  text-align: center;
 }

 h1 {
  width: 530px;
  height: 92px;
  margin-top: 15px;
  margin-left: 70px;
  font: lora;
  font-weight: 700;
  font-size: 36px;
  line-height: 46.08px;
  color: #FFFFFF;
 }

 .block-hero-date {
  width: 59px;
  height: 15px;
  margin-top: 15px;
  margin-left: 70px;
  font: lora;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #E5E5E5;
 }

 .block-hero-line {
  width: 30px;
  margin-left: 140px;
  color: #E5E5E5;
  border: 1px solid #E5E5E5
 }

 .block-hero-content {
  width: 420px;
  height: 40px;
  margin-left: 180px;
  font: lora;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
 }

 .block-hero-circle {
  width: 44px;
  height: 8px;
  margin-left: 70px;
  margin-top: 62px;
  }

  h2 {
    width: 249px;
    height: 46px;
    margin-top: 150px;
    margin-left: 70px;
    font: lora;
    font-weight: 700;
    font-size: 36px;
    line-height: 46.08px;
    color: #495057;
  }

