* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.header {
  background: transparent;
  color: rgb(13, 11, 11);
  padding-top: 15px;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(60, 60, 60, 0.2);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hamBurger-close {
  display: none;
}

nav.active .hamBurger-close {
  display: block;
  display: flex;
  float: right;
  margin-bottom: 50px;
  margin-right: 25px;
}


nav.active .header-nav-menu {
  display: flex;
  flex-direction: column;
  background-color: blue;
  height: 100%;
  width: 100%;
}

nav.active .heder-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  /* background-color: blue;
  height: 100%;
  width: 100%; */
  font-size: 50px;
  margin-bottom: 30px;
}

nav.active .header-social-links {
  display: flex;
  justify-content: center;  
  gap: 15px;
  font-size: 50px;
}

nav.active .header-social-links img {
height: 60px;
width: 60px;

}

nav.active .heder-menu-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-color: blue;
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  transition: all 0.5s;
}

.header-social-links {
 margin-bottom: 7px;
}

.logo {
  font-size: 40px;
  color: white;
}

.header-nav-menu {
  display: flex;
  gap: 10px;
}

nav ul {
  list-style: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
}

.hamburger span {
  width: 50px;
  height: 2px;
  display: inline-block;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 10px;

}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  /* min-width: 320px; */
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 556px;
  }
}

.hero-image {
  background-image: url("./assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid #E5E5E5;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.hero-content-wrap {
  margin-left: 30px;
}

.hero-btn {
  max-width: 77px;
  background-color: #FFFFFF26;
  padding: 5px 10px 5px 1opx;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 700;
  line-height: 11.72px;
  text-align: center;
  margin-top: 278px;
  color: #FFFFFF;
  border-radius: 15px;
  border-style: none;
}

h1 {
  max-width: 530px;
  margin-top: 15px;  
  font-family: Lora;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.08px;
  /* text-align: center; */
  color: #FFFFFF;
}

.hero-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.hero-date {
  max-width: 59px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
  color: #E5E5E5;
  padding-right: 5px;
}

.hero-line {
  width: 30px;
  height: 1px;
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid #E5E5E5
}

.hero-content {
  max-width: 420px;
  font: lora;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
}

.block-hero-circle {
  max-width: 44px;
  margin-top: 62px;
  }

.block-popular {
  margin-bottom: 50px;
}


.popular-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 46.08px;
  color: #495057;
}

.block-popular__nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 30px;
  flex-wrap: wrap;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  color: #495057;
  flex-wrap: wrap;
  gap: 10px;
}

.block-popular__nav a {
  color: #212529;
}

@media only screen and (max-width: 470px) {
  .left-nav {
    margin-bottom: 10px;
  }
}

a {
  text-decoration: none;
  color: white;
}


.Popular-card-section {
  margin-top: 30px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Popular-card {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.Popular-card img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

@media only screen and (min-width: 200px) {
  .Popular-card {
    width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  .Popular-card {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .Popular-card {
    width: 33.33%;
  }
}

@media only screen and (min-width: 1024px) {
  .Popular-card {
    width: 25%;
  }
}

.Popular-card-date {
  max-width: 59px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #6C757D;
}

.Popular-card-header {
  max-width: 273px;
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
}

.Popular-card-description {
  max-width: 310px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6C757D;
}

.fashion-container {
  background-image: url("./assets/images/fashion-bg.jpg");
  background-size: cover; 
  background-position: center; 
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.fashion-container-wrap {
  max-width: 530px;
  padding-top: 170px;
  padding-bottom: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.fashion-btn {
  max-width: 62px;
  padding: 5px 10px 5px 10px;
  margin-inline: auto;
  background-color: #FFFFFF26;
  font-size: 10px;
  font-weight: 700;
  line-height: 11.72px;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
}

.fasion-header {
  max-width: 530px;
  padding-top: 24px;
  margin-inline: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 46.08px;
  color: #FFFFFF;
}

.fashion-content {
  max-width: 420px;
  margin-inline: auto;
  margin-top: 13px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
}

.fashion-line {
  padding-left: 40px;
  margin-inline: auto;
  margin-top: 24px;
  border: 1px solid #E5E5E5
}

.fashion-date {
  max-width: 59px;
  margin-inline: auto;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #E5E5E5;
}

.editor-pick-header {
  max-width: 217px;
  font-size: 36px;
  line-height: 46.08px;
  color: #495057;
  margin-bottom: 40px;
}

.editor-pick-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-left: -15px;
  margin-right: -15px;
}

.editor-pick-card {
  width: 100%;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  display: block;

}

/* @media only screen and (min-width: 200px) {
  .editor-pick-card {
    width: 100%;
    display: block;
  }
} */

@media only screen and (min-width: 640px) {
  .editor-pick-card {
    width: 50%;
    display: block;

  }
}

@media only screen and (min-width: 768px) {
  .editor-pick-card {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .editor-pick-card {
    width: 33.33%;
  }
}

.editor-pick-card-1 {
  background-image: url("./assets/images/editor-blog-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.editor-pick-card-2 {
  background-image: url("./assets/images/editor-blog-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.editor-pick-card-3 {
  background-image: url("./assets/images/editor-blog-bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}


.editor-pick-date {
  max-width: 59px;
  padding-top: 153px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #E5E5E5;
}

.editor-pick-card-header {
  max-width: 270px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.editor-pick-card-description {
  max-width: 340px;
  padding-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
}

.site-footer {
  /* margin-top: 149px; */
}

.footer-top-section {
  width: 100%;
  background-color: #212529;
  height: 400px;
}

.footer-top-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-contact-pulisher {
  width: 188px;
  height: 89px;
  /* margin-top: 106px; */
  /* margin-left: 70px; */
  list-style: none;
}

/* @media (max-width: 560px) {
  .footer-contact-pulisher {
margin-bottom: 20px;  }
} */

.footer-Explorate {
  max-width: 115px;
  margin-top: 99px;
  list-style: none;
}

/* @media (max-width: 560px) {
  .footer-Explorate {
margin-bottom: 20px;  }
} */

.footer-headquarter {
  max-width: 114px;
  list-style: none;
}

@media (max-width: 430px) {
  .footer-headquarter {
margin-top: -30px;  }
}


.footer-connection {
  max-width: 172px;
  margin-top: -31px;
  list-style: none;
}

@media (max-width: 430px) {
  .footer-connection {
margin-top: 15px;  }
}

.footer-contact-pulisher-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
}

.Publisher-ul {
  padding-left: 0px;
  list-style: none;
}

#email {
  padding-top: 16px;
  font: lora;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #E5E5E5;
}

#contact-number {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

.footer-Explorate-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
}

.footer-Explorate-ul {
  padding-left: 0px;
  list-style: none;
}

#about {
  padding-top: 16px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

#Partners {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

#job-opportunities {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

#Advertise {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

#Membership {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

.footer-headquaters-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
}

#footer-headquarter-place {
  padding-top: 18px;
  font: lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.36px;
}

.footer-connection-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
}

.footer-social-media-logos {
  max-width: 172px;
  padding-top: 15px;
}

.footer-lower-section {
  width: cover;
  height: 80px;
  background-color: #343A40;
}

.footer-lower-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  max-width: 198px;
  font: lora;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.92px;
  color: #E5E5E5;
}

.Subscribe {
  max-width: 98px;
  font: lora;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.92px;
  color: #E5E5E5;
}

@media (max-width: 1024px) {
  .heder-menu {
display: none;  }
}

@media (min-width: 1024px) {
.hamburger {
  display: none
}
}

@media (max-width: 1024px) {
  .header-social-links {
    display: none;
  }
}
